
 <div class="download"> <div data-state="DownloadState">
    <div data-screen="default">
        <div class="dialog__content"><div class="dialog__header"><div class="dialog__title">This task has been processed successfully.</div></div><div class="dialog__body">                
		<div class="box" style="margin-top: 4%;">
				<h1 class="title2" style="display:none;">PDFs have been {{url_key}}!</h1>
			<div id="download" class="downloader">
			<div class="downloader__extra">
				<a href="#" onclick="history.back()" class="btn-icon active downloader__extra__btn downloader__extra__btn--black tooltip tooltip--top" title="Back to Merge PDF" style="display: flex;">
					<svg xmlns="http://www.w3.org/2000/svg" width="17" height="16">
						<title> back</title>
						<path d="M6.533 15.065L.438 8.968c-.116-.116-.208-.255-.27-.4a1.27 1.27 0 0 1 .009-.971c.066-.155.16-.296.277-.415l6.21-6.21A1.27 1.27 0 0 1 8.461.947c.49.49.485 1.295-.017 1.797l-4.02 4.02 10.47-.097a1.24 1.24 0 0 1 1.258 1.258 1.3 1.3 0 0 1-1.282 1.282L4.4 9.305l3.947 3.947c.49.492.485 1.295-.017 1.797s-1.306.508-1.797.017z" fill="#fff" fill-rule="nonzero"></path>
					</svg>
				</a>
			</div>
			<a slot="downloadUrl" class="downloader__btn active" id="pickfiles" href="{{apiServer}}/v1/download/{{url_id}}">
				<svg aria-hidden="true" width="26" height="24" data-icon="download" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path fill="currentColor" d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z" class=""></path>
				</svg>
				Download {{url_key}} {%if 'image' in url_key or 'doc' in url_key or 'edit' in url_key%}File{%else%}PDF{%endif%}        </a>
			<div class="downloader__extra">
				<a class="btn-icon downloader__extra__btn tooltip tooltip--top active" id="gdrive_file_selector" title="Save to Google Drive">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16">
						<path fill="#FFF" d="M8.7375,5.80725 L3.021,15.70725 L0.12375,10.69725 L5.847,0.795 L8.7375,5.80725 Z M17.865,10.38225 L12.078,10.39125 L6.378,0.489 L12.1725,0.489 L17.865,10.38225 Z M17.87625,10.9875 L14.9865,15.9975 L3.5415,15.99 L6.43425,10.98375 L17.87625,10.9875 Z"></path>
					</svg>
				</a>
				<a class="btn-icon downloader__extra__btn tooltip tooltip--bottom active" id="dropbox_file_selector" title="Save to Dropbox">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
						<path fill="#FFF" d="M5.3475,0.7035 L0.096,4.125 L3.708,7.03725 L9.018,3.765 L5.3475,0.7035 Z M17.904,4.14 L12.66525,0.7275 L9.01875,3.7725 L14.29875,7.03875 L17.904,4.14 Z M9.01875,10.305 L12.66525,13.35975 L17.904,9.945 L14.2995,7.0395 L9.01875,10.305 Z M0.096,9.9585 L5.3475,13.35975 L9.01875,10.305 L3.70875,7.0455 L0.096,9.9585 Z M9.01875,10.9635 L5.35575,14.0385 L3.786,13.02 L3.786,14.16 L9.01875,17.30475 L14.271,14.15175 L14.271,13.0125 L12.693,14.031 L9.01875,10.9635 Z"></path>
					</svg>
				</a>
			</div>
			<div class="downloader__extra">
				<a class="btn-icon downloader__extra__btn tooltip tooltip--top active" id="sharelink" title="Share download link or scan QR">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18">
						<path d="M10.963 7.004a4.12 4.12 0 0 0-.704-.566 4.19 4.19 0 0 0-2.261-.662 4.17 4.17 0 0 0-2.964 1.228l-3.8 3.812a4.19 4.19 0 0 0-1.225 2.959C0 16.1 1.875 17.967 4.2 17.968a4.18 4.18 0 0 0 2.96-1.222l3.144-3.144a.3.3 0 0 0-.213-.512h-.12a5.04 5.04 0 0 1-1.916-.371.3.3 0 0 0-.326.066L5.46 15.05a1.8 1.8 0 0 1-2.542 0 1.8 1.8 0 0 1 0-2.542l3.824-3.82a1.8 1.8 0 0 1 2.54 0 1.23 1.23 0 0 0 1.683 0 1.2 1.2 0 0 0 .347-.761 1.2 1.2 0 0 0-.347-.922zm5.777-5.776a4.19 4.19 0 0 0-5.928 0L7.67 4.366a.3.3 0 0 0 .219.512H8a5.03 5.03 0 0 1 1.913.374.3.3 0 0 0 .326-.066l2.255-2.252a1.8 1.8 0 0 1 2.542 0 1.8 1.8 0 0 1 0 2.542l-2.8 2.806-.024.027-.982.976a1.8 1.8 0 0 1-2.54 0 1.23 1.23 0 0 0-1.683 0 1.2 1.2 0 0 0 0 1.689c.347.348.752.632 1.198.838l.2.08.192.072.192.063.177.048.362.075a4.17 4.17 0 0 0 .446.042h.228l.18-.02.213-.018h.102l.207-.03.096-.018.174-.036h.033a4.19 4.19 0 0 0 1.943-1.102l3.812-3.812c1.637-1.637 1.637-4.3 0-5.928z" fill="#fff" fill-rule="nonzero"></path>
					</svg>
				</a>
				<a class="btn-icon downloader__extra__btn tooltip tooltip--bottom active" id="delete" title="Delete it now">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="19">
						<path d="M12.37 2.017H9.164V1c0-.557-.457-1-1.02-1H5.43c-.56 0-1.018.453-1.018 1v1H1.207A1.2 1.2 0 0 0 0 3.213v1.494h13.576V3.213c0-.66-.542-1.196-1.207-1.196zm-3.884 0H5.1V1c0-.186.152-.336.34-.336h2.715c.187 0 .34.15.34.336v1zM.68 17.413c0 .7.568 1.254 1.266 1.254h9.687c.698 0 1.266-.562 1.266-1.254V6.228H.68v11.185" fill="#fff" fill-rule="evenodd"></path>
					</svg>
				</a>
			</div>
		</div>
		<div class="downloader__info"></div>
		<div class="downloader__warning">
			<div class="repaired">
				Some files have been repaired            <ul class="repaired__list">

				</ul>
			</div>
			<div class="damaged">
				Some files haven't  been processed            <ul class="damaged__list">

				</ul>
			</div>
			<div class="conformance">
				Some files have been downgraded to a laxer PDF/A conformance            <ul class="conformance__list">

				</ul>
			</div>
		</div>
		</div>
        <div>
                            

<div class="chained chained--grey">
    <div class="chained__title">
        <h2 class="title4">Continue to...</h2>
    </div>

    <ul class="chained__list">
		{%for tool in manifest['tools']%}
        {%set tool_key=tool.keys() | first %}
        {%set ico = tool_key.split('_')%}
                <li class="">
                <a href="/{{tool_key}}?t={{url_id}}" title="Continue to {{tool[tool_key]['title']}}" data-tool="{{ico[0]}}" class="chained__list__link link--secondary tooltip tooltip--top" data-title="Continue to {{tool[tool_key]['title']}}">
                <span class="chained__list__link__img">
                    <i class="ico ico--{{ico[0]}}"></i>
                </span>
                <span class="chained__list__link__text">
                    {{tool[tool_key]['title']}}                </span>
                <svg width="13" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" class="chained__list__link__arrow"><path d="M9.334 5.997a.51.51 0 0 0-.043-.207.542.542 0 0 0-.135-.179L4.291 1.155A.554.554 0 0 0 3.898 1a.6.6 0 0 0-.288.07.52.52 0 0 0-.276.454c0 .142.053.267.16.374l4.803 4.41v-.616l-4.804 4.41a.504.504 0 0 0-.159.374c0 .1.025.19.074.27.049.077.116.139.202.185a.6.6 0 0 0 .288.069.607.607 0 0 0 .221-.04.581.581 0 0 0 .178-.115l4.86-4.456a.533.533 0 0 0 .177-.392Z" fill="currentColor"></path></svg>
            </a>
            </li>
        {%endfor%}   
            </ul>

    <div class="chained__more ">
        <button class="link link--secondary">See more</button>
    </div>
</div>
                        <div>
    <h4 class="title4">How can you thank us? Spread the word!</h4>
    <h5 class="paragraph">
        Please share the tool to inspire more productive people!    </h5>
    <ul class="share">
        <li>
            <a class="share__link small link--secondary"
               onclick="window.ev('sendOnce', 'event', 'click', 'download-share', 'trustpilot');
var height = 500;
var width = 700;
var left = ( screen.width - width ) / 2;
var top = ( screen.height - height ) / 2;
left += window.screenX;
var features ='width=' + width + ', height=' + height + ',location=0, resizable, scrollbars, toolbar=0, menubar=0, top='+ top + ', left=' + left;
window.open('https://www.trustpilot.com/evaluate/{{manifest["title"]|lower}}.com', 'popupwindow', features);">
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_6240_6700)"><path d="M16.9982 6.11469H10.5078L8.50293 0L6.49194 6.11469L0.00146484 6.10859L5.2578 9.89141L3.24659 16L8.50293 12.2233L13.7529 16L11.7481 9.89141L16.9982 6.11469Z" fill="#00B67A"/><path d="M12.1992 11.2744L11.7481 9.89136L8.50293 12.2232L12.1992 11.2744Z" fill="#005128"/></g><defs><clipPath id="clip0_6240_6700"><rect width="17" height="16" fill="white"/></clipPath></defs></svg>                Trustpilot
            </a>
        </li>
        <li>
            <a class="share__link small link--secondary"
               onclick="window.ev('sendOnce', 'event', 'click', 'download-share', 'facebook');
var height = 500;
var width = 700;
var left = ( screen.width - width ) / 2;
var top = ( screen.height - height ) / 2;
left += window.screenX;
var features ='width=' + width + ', height=' + height + ',location=0, resizable, scrollbars, toolbar=0, menubar=0, top='+ top + ', left=' + left;
window.open('http://www.facebook.com/sharer.php?u=https://www.{{manifest["title"]|lower}}.com/edit-pdf', 'popupwindow', features);">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" fill="none"><path fill="#3B5998" d="M6.964 8.832H5.38c-.256 0-.336-.096-.336-.336V6.56c0-.256.096-.336.336-.336h1.584V4.816c0-.64.112-1.248.432-1.808.336-.576.816-.96 1.424-1.184.4-.144.8-.208 1.232-.208h1.568c.224 0 .32.096.32.32V3.76c0 .224-.096.32-.32.32-.432 0-.864 0-1.296.016-.432 0-.656.208-.656.656-.016.48 0 .944 0 1.44h1.856c.256 0 .352.096.352.352V8.48c0 .256-.08.336-.352.336H9.668v5.216c0 .272-.08.368-.368.368h-2c-.24 0-.336-.096-.336-.336V8.832Z"/></svg>                Facebook
            </a>
        </li>
        <li>
            <a class="share__link small link--secondary"
               onclick="popUp=window.open('http://twitter.com/intent/tweet?url=https://www.{{manifest["title"]|lower}}.com/edit-pdf&text=Edit PDF - Online PDF Editor and Form Filler&via={{manifest["title"]|lower}}_com&hashtags={{manifest["title"]|lower}}','popupwindow','scrollbars=yes,width=700,height=400');popUp.focus();return false">
                <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.738 2h1.994L9.377 7.083 14.5 14h-4.011L7.346 9.805 3.751 14H1.757l4.658-5.437L1.5 2h4.113l2.84 3.834L11.738 2Zm-.7 10.781h1.105l-7.13-9.627H3.828l7.21 9.627Z" fill="#161616"/></svg>                Twitter
            </a>
        </li>
        <li>
            <a class="share__link small link--secondary"
               onclick="popUp=window.open('http://www.linkedin.com/shareArticle?url=https://www.{{manifest["title"]|lower}}.com/edit-pdf','popupwindow','scrollbars=yes,width=700,height=400');popUp.focus();return false">
                <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.403 4.56c.774 0 1.402-.572 1.402-1.28 0-.707-.628-1.28-1.402-1.28C2.628 2 2 2.573 2 3.28c0 .708.628 1.28 1.403 1.28ZM2 12.771h2.516V5.515H2v7.256ZM8.027 9.057c0-.832.394-1.646 1.335-1.646.942 0 1.173.814 1.173 1.626V13h2.505V8.875c0-2.866-1.694-3.36-2.736-3.36-1.042 0-1.616.353-2.277 1.206v-.977H5.515V13h2.512V9.057Z" fill="#0976B4"/></svg>                LinkedIn
            </a>
        </li>
            </ul>
</div>
        </div>
        
                 </div></div>     </div>
    <div data-screen="link">
        
<div class="dialog__body">
    <div class="dialog__back" style="display: none;">
        <span class="dialog__back__icon"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" ><path d="M.616 5.005l4.526-4.3c.288-.273.754-.273 1.042 0s.288.717 0 .99L2.18 5.5l4.004 3.805c.288.273.288.716 0 .99s-.754.273-1.042 0l-4.526-4.3A.68.68 0 0 1 .4 5.5a.68.68 0 0 1 .216-.495z" fill="#e5322d" fill-rule="evenodd"/></svg></span>
        <span class='dialog__back__text'>Back</span>
    </div>
    <div class="dialog__close" data-dismiss="modal" aria-label="Close"></div>
    <h3 class="title3">Copy & Send download link</h3>
    <div class="form__group form__group--btn form__group--btn-lg">
        <div class="input--icon input--world">
            <input id="dlink" type="text" class="input" value="" onClick="this.select();"
                    readonly="true">
        </div>
        <button class="btn" id="autoCopy">
            <svg aria-hidden="true" width="12" height="12" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512" style="margin-right: 8px;">
                <path fill="currentColor"
                        d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"
                        class=""></path>
            </svg>
            Copy        </button>
    </div>
</div>
<div class="dialog__body">
    <h3 class="title3">Instantly download to your phone</h3>
    <!--<p>Download processed files to your device by scanning the QR code</p>-->
    <div class="d-flex justify-content-center">
        <div id="qrcode" style="margin: 32px 32px 0;"></div>
        <!--
            <div>
                <ul class="listdot" style="margin: 24px auto 0; max-width: 350px; text-align: left;">
                    <li>Open up the camera on your device.</li>
                    <li>Aline your device's camera with the QR.</li>
                    <li>Tap the notification on your screen to  enable direct transfer of files.</li>
                </ul>
            </div>
            -->
    </div>


        </div>
    </div>
    <div data-screen="delete">
        <div class="dialog__header">
    <h5 class="dialog__title">File available time</h5>
    <div class="dialog__back" style="display: none;">
        <span class="dialog__back__icon"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" ><path d="M.616 5.005l4.526-4.3c.288-.273.754-.273 1.042 0s.288.717 0 .99L2.18 5.5l4.004 3.805c.288.273.288.716 0 .99s-.754.273-1.042 0l-4.526-4.3A.68.68 0 0 1 .4 5.5a.68.68 0 0 1 .216-.495z" fill="#e5322d" fill-rule="evenodd"/></svg></span>
        <span class='dialog__back__text'>Back</span>
    </div>
    <div class="dialog__close" data-dismiss="modal" aria-label="Close"></div>
</div>
<div class="dialog__body">
    <p>All your files will be automatically deleted after</p>
    <div id="countdown" class="countdown">
        <div class="countdown__item">
            <div class="countdown__item__time">-</div>
            <div class="countdown__item__period">Hours</div>
        </div>
        <div class="countdown__item">
            <div class="countdown__item__time">-</div>
            <div class="countdown__item__period">Minutes</div>
        </div>
        <div class="countdown__item">
            <div class="countdown__item__time">-</div>
            <div class="countdown__item__period">Seconds</div>
        </div>
    </div>
</div>
<div class="dialog__footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
            id="btnDelete">Delete it now</button>
</div>    </div>
</div>
 </div>
<script src="/static/js/qrcode.min.js" async></script>