<div class="payment__paypal-view">
    <!-- <div class="payment__paypal-view__current-payment-method-view">
      <div class='payment__method-details'>
        <div class="payment__method-details__label">Account details</div>
        <div class='payment__method-details__text'>Email ${email}</div>
        <div class='payment__method-details__change-btn'>Change</div>
      </div>
    </div>  -->
    <!-- /Current payment method  -->
  
    <div class="payment__paypal-view__new-payment-method-view">
      <!-- <div class='payment__method-details-desc'>Account details</div> -->
      <div class="payment__paypal-view__button-binding">
        <!-- Contents of this container are appended by Paypal library -->
      </div>
      <!-- <div class='payment__method-details__keep-payment-method-btn' style="display: none">Keep ${email}</div> -->
      <div class='payment__method-error payment__method-error--hidden'>&nbsp;</div>
    </div><!-- /New payment method  -->
  
    <!-- <div class="payment__actions">
      <button class="payment__pay-btn btn btn--dbr" disabled></button>
    </div> -->
    <div class='paypal__text-translations' style="display:none;">
      {"generic_payment_error":"Something went wrong with the payment"}  </div>
  
  </div>
  