@font-face {
    font-family: 'Comic';
    font-display: auto;
    src: url('ComicSansMS.eot');
    src: local('Comic Sans MS'), local('ComicSansMS'),
        url('ComicSansMS.eot?#iefix') format('embedded-opentype'),
        url('ComicSansMS.woff2') format('woff2'),
        url('ComicSansMS.woff') format('woff'),
        url('ComicSansMS.ttf') format('truetype'),
        url('ComicSansMS.svg#ComicSansMS') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic';
    font-display: auto;
    src: url('ComicSansMS-Bold.eot');
    src: local('Comic Sans MS Bold'), local('ComicSansMS-Bold'),
        url('ComicSansMS-Bold.eot?#iefix') format('embedded-opentype'),
        url('ComicSansMS-Bold.woff2') format('woff2'),
        url('ComicSansMS-Bold.woff') format('woff'),
        url('ComicSansMS-Bold.ttf') format('truetype'),
        url('ComicSansMS-Bold.svg#ComicSansMS-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

