{%extends 'main.html'%}

{%block content%}
<link href="/static/dist/css/app.7909e88.css" rel="stylesheet">
{%if tool%}
{%set ico = tool['tool'].split('_')[0]%}
<script>var ilx = {'c': 'tool', 'a': "{{ico}}"};</script>
{%endif%}
<style>
    .footer-main{display:none;}
    #uploader a{background-color: aqua;}
	
</style>

<div class="main">
	<div class="tool">
        <div class="tool__workarea" id="workArea">
            <div id="dropArea"></div>
		</div>
		<div class="uploader">
		<div  style="width: 300px;height: 300px;" class="ad">
        				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-8402082494280043"
					 data-ad-slot="4802682499"
					 data-ad-format="auto"
					 ></ins>
				<script>
					 (adsbygoogle = window.adsbygoogle || []).push({});
				</script>

		</div>
		</div>
	</div>
</div>

<div class="footer">
    <div class="footer__copy">
        &copy; {{manifest['title']}} 2024 &reg; - Your PDF Editor    </div>
</div>       
<script src="/static/dist/js/app_scan.js" async></script>
<script src="/static/js/plupload/plupload.full.min.js" async></script>
<script src="/static/js/pdfjs/pdf.min.js" async></script>

{%endblock%}