    <!DOCTYPE html>
    <html lang="en">
    <head>
            <meta charset="UTF-8">
    <title>{{manifest['title']}}, login to your account</title>
    <meta name="description" content="{{manifest['title']}} is an online service to work with PDF files completely free and easy to use. Merge PDF, split PDF, compress PDF, office to PDF, PDF to JPG and more!"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="author" content="{{manifest['title']|lower}}.com"/>
	<meta name="google-site-verification" content="3kT3lEi4SUotpmRt24Xu1BN0jAPYVKYDWKtakCDCA7Q" />
    <meta name="keywords" content="Merge PDF, split PDF, combine PDF, extract PDF, compress PDF, convert PDF, Word to PDF, Excel to PDF, Powerpoint to PDF, PDF to JPG, JPG to PDF"/>
    <link rel="canonical" href="https://www.{{manifest['title']|lower}}.com/"/>
    <meta name="apple-itunes-app" content="app-id=">
    <meta name="google-play-app" content="app-id=com.{{manifest['title']|lower}}.www">

    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons-pdf/favicon-32x32.png">
    <meta property="og:site_name" content="{{manifest['title']}} - Online tools for PDF"/>
    <meta property="og:title" content="{{manifest['title']}} | Online PDF tools for PDF lovers"/>
    <meta property="og:description" content="{{manifest['title']}} is an online service to work with PDF files completely free and easy to use. Merge PDF, split PDF, compress PDF, office to PDF, PDF to JPG and more!"/>
    <meta property="og:image" content="https://www.{{manifest['title']|lower}}.com/img/{{manifest['title']|lower}}/social/en-US/{{manifest['title']|lower}}.png"/>
        <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.{{manifest['title']|lower}}.com/"/>
    <meta property="og:app_id" content="127502793959418"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{manifest['title']|lower}}_com">
    <meta name="twitter:creator" content="@{{manifest['title']|lower}}_com">
    <meta name="twitter:title" content="{{manifest['title']}} | Online PDF tools for PDF lovers">
    <meta name="twitter:description" content="{{manifest['title']}} is an online service to work with PDF files completely free and easy to use. Merge PDF, split PDF, compress PDF, office to PDF, PDF to JPG and more!">
    <meta name="twitter:image:src" content="https://www.{{manifest['title']|lower}}.com/img/{{manifest['title']|lower}}/social/en-US/{{manifest['title']|lower}}.png"/>
    <link rel="preload" href="/static/font/Graphik-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/static/font/Graphik-Semibold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/static/font/Graphik-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/static/font/Graphik-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c63faa1f51.js" crossorigin="anonymous"></script>
<meta name="csrf-param" content="_csrf-{{manifest['title']|lower}}">
<meta name="google-adsense-account" content="ca-pub-8402082494280043">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8402082494280043"
crossorigin="anonymous"></script>
<meta name="csrf-param" content="_csrf-{{manifest['title']|lower}}">
    <meta name="csrf-token" content="YHi3CSnYrtHFqBVkTVNFzSP_AWZADlKdzqhdgmA4ETEWNY5nQ7rEvpPtcx10CyOqWphPDxh_ANyW2Ra3GUpEdQ==">
<script>var ilx = {'c': 'auth', 'a': 'signup'};</script>
	<link href="/static/dist/css/app.7909e88.css" rel="stylesheet">    </head>
    <body class="clean   lang-en-US ">
        <div class="main">
    
<div class="auth">
    <div class="auth__form">
        <div class="auth__box">
            
<a class="brand" href="" title="{{manifest['title']}}" style="height: 100%;object-fit:cover;zoom: 200%;">
    <img src="/static/img/{{manifest['title']|lower}}.svg" alt="{{manifest['title']}}"/>
</a>                <h2 class="form__title">Login to your account</h2>
    <div class="social-auth">
    <div id="w0" class="social-auth--big-buttons"><ul class="auth-clients"><li style="width: 100%;"><a class="google auth-link" href="/auth/auth?authclient=google" title="Google"><span class="auth-icon google"></span><span class="auth-link__text">Google</span></a></li><li style="display:none;"><a class="sso auth-link" href="/auth/auth?authclient=sso" title="SSO"><span class="auth-icon sso"></span><span class="auth-link__text">Sso</span></a></li></ul></div></div>
<form id="loginForm" action="/login" method="post">
<input type="hidden" name="_csrf-{{manifest['title']}}" value="QW-ANspArIHjjGYGfC0okWdGmG4uGS1FbwMy1O854xs3IrlYoCLG7rXJAH9FdU72HiHWB3ZofwQ3cnnhlku2Xw==">
    

    <div class="form__group ">
        <div class="field-loginEmail required">
<div class="input--icon input--email"><input type="text" id="loginEmail" class="input" name="LoginForm[email]" placeholder="Enter your email" autofocus="true" aria-required="true"></div><div class="help-block"></div>
</div>    </div>
    <div class="form__group ">
        <div class="field-inputPasswordAuth required">
<div class="input--icon input--pwd"><input type="password" id="inputPasswordAuth" class="input" name="LoginForm[password]" placeholder="Password" aria-required="true"></div><div class="help-block"></div>
</div>    </div>
    
        <div class="form__group">
        <p>
            <a href="/login/forgetpassword"
               id="forget-password">Forgot your password?</a>
        </p>
    </div>
    <div class="form-actions">
        <input type="hidden" name="remember" id="rememberAuth" value="1">
        <button type="submit" data-loading-text="Checking..." class="btn" id="loginBtn">
            Log in <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
    <div class="create-account">
        <p>
            Don't have an account?&nbsp;&nbsp;<a
                href="/register"
                id="goRegister">Create an account</a>
        </p>
    </div>
    <script>
        // For inline register page; This logic is also present in "AbstractAuthState"
        (function () {
            function defer(method) {
                if (window.Cookies) {
                    method();
                } else {
                    setTimeout(function () {
                        defer(method)
                    }, 50);
                }
            }

            defer(function () {
                if (window.Intl && window.Intl.DateTimeFormat()) {
                    var tzNewValue = window.Intl.DateTimeFormat().resolvedOptions().timeZone;
                    if (tzNewValue) {
                        window.Cookies.set('auth_tz', tzNewValue);
                        var tzElem = document.querySelector("#signupform-timezone");
                        if (tzElem) tzElem.value = tzNewValue;
                    }
                }
            });
        })()
    </script>
    </form>        </div>
    </div>
    <div class="auth__info">
        <div class="auth__box auth__box--login-txt">
    <img style="display:block; margin-bottom:32px;"
         srcset="/static/img/edit.png 2x"
         src="/static/img/edit.png" alt="{{manifest['title']}}">
    <h1 class="title2">Log in to your workspace</h1>
            <p>Enter your email and password to access your {{manifest['title']}} account. You are one step closer to boosting your document productivity.</p>
    
    <p class="toggle list__dropdown">See all tools</p>
    <div class="toggle__content">
        <ul class="listcheck">
            <li class="listcheck__item listcheck__item--ok">
            Merge PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Split PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Compress PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Office to PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            WORD to PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            POWERPOINT to PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            EXCEL to PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            PDF to WORD        </li>
                    <li class="listcheck__item listcheck__item--ok">
                PDF to WORD&nbsp;<b>(OCR)</b>
            </li>
                    <li class="listcheck__item listcheck__item--ok">
            PDF to POWERPOINT        </li>
                    <li class="listcheck__item listcheck__item--ok">
            PDF to EXCEL        </li>
                    <li class="listcheck__item listcheck__item--ok">
                PDF to EXCEL&nbsp;<b>(OCR)</b>
            </li>
                    <li class="listcheck__item listcheck__item--ok">
            OCR PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            PDF to JPG        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Image to PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Add page numbers        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Add watermark        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Rotate PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Unlock PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Protect PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Remove PDF pages        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Reorder PDF pages        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Organize PDF pages        </li>
                    <li class="listcheck__item listcheck__item--ok">
            PDF to PDF/A        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Repair PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Web to PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Edit PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Sign PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Scan to PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Redact PDF        </li>
                    <li class="listcheck__item listcheck__item--ok">
            Copy PDF        </li>
            </ul>    </div>
</div>

<script>
    var toogle = document.querySelector('.toggle');
    toogle.addEventListener('click', function(){
        var toggleContent = document.querySelector('.toggle__content');
        if (toggleContent.style['display'] !== 'block') {  //better to check that it is not the value you have
            toggleContent.style['display'] = 'block';
        } else {
            toggleContent.style['display'] = '';
        }
    })
</script>    </div>
</div></div>    <script>
        var siteData = {
        csrfParam: "_csrf-{{manifest['title']|lower}}",
        csrfToken: 'QW-ANspArIHjjGYGfC0okWdGmG4uGS1FbwMy1O854xs3IrlYoCLG7rXJAH9FdU72HiHWB3ZofwQ3cnnhlku2Xw=='
    };
        var lang = 'en-US';
    var brand = "{{manifest['title']}}";
    var brand_ref = "{{manifest['title']}}";
            var nds = {
        'ck': 0,
        'content': '<p>We hope you like it and find it easier to use.<br>If you run into any issues, please <a href=\"/contact\">let us know</a>.<br>We can fix any problem if we know about it.</p>',
        'title': '<span style="color:#1D9D58">Welcome to the newly designed {{manifest["title"]}}</span>'
    };
    </script>    <script src="/static/dist/js/app.7909e88.js"></script>        </body>
    </html>
